@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700);main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

main p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#008fe3), to(#005b98));
  -webkit-border-image: linear-gradient(to right, #008fe3 0%, #005b98 100%);
       -o-border-image: linear-gradient(to right, #008fe3 0%, #005b98 100%);
          border-image: -webkit-gradient(linear, left top, right top, from(#008fe3), to(#005b98));
          border-image: linear-gradient(to right, #008fe3 0%, #005b98 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #2a2b2c;
}

main p:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  height: 2em;
  width: 2em;
  background-color: #2a2b2c;
  text-align: center;
  line-height: 1.25em;
  color: #ffffff;
  font-size: 1em;
}

main p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

main p:nth-child(odd):before {
  left: 100%;
  margin-left: -14px;
}

main p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

main p:nth-child(even):before {
  right: 100%;
  margin-right: -13px;
}

main p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

main p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

