.workflow p {

    counter-increment: section;
    position: relative;
    color: #2a2b2c;
}

.workflow p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    height: 2em;
    width: 2em;
    background-color: #2a2b2c;
    text-align: center;
    line-height: 1.25em;
    color: #ffffff;
    font-size: 1em;
}

.workflow p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.workflow p:nth-child(odd):before {
    left: 100%;
    margin-left: -14px;
}

.workflow p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

.workflow p:nth-child(even):before {
    right: 100%;
    margin-right: -13px;
}

.workflow p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.workflow p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.workflow {
    width: 300px;
    margin: auto;
}

.workflow p {

    border-top: 2px dashed;
    border-color: blue !important;
    margin:0; padding: 30px;
}



.workflow p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.workflow p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

.workflow p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.workflow p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.HomePage .parallax-container {
    height: 70vh!important;
}
.defaultPage .parallax-container {
    height: 30vh!important;
}
.defaultPage, .HomePage {
    color: white;
}

.centerText {
    margin: 0 auto;
    text-align: center;
}
.main-nav {
    background-color: rgb(221, 221, 221);
}
nav ul a:hover {
    background-color: rgb(70, 70, 70)!important;
}
.main-nav {
    color: rgb(27, 27, 27)!important;
    transition: .2s;
}
.black {
    color: black;
}
.main-nav a:hover {
    background-color: rgb(80, 80, 80);
}
.main-title {
    text-align: center;
    vertical-align: center;
    height: 100%;
}
.defaultPageTitle {
    text-align: center;
    vertical-align: center;
    height: 100%;
}
.title-text {
    font-size: 75px !important;
}
.btn-custom {
    padding: 20px 100px;
    border-radius: 5px;
    background-color: #414141b7;
    color: white;
}
.btn-custom:hover {
    background-color: #414141;
}
.card img{
    height: 250px;
    object-fit: cover!important;
}
.indicator-item.active {
    background-color: black!important;
}
.mainPage {
    min-height: 100vh;
}
.card-content {
    background-color: #5f5f5f;
    color: white;
}
.myServices {
    margin-top: 100px;
}
.homeSlider {
    margin-top: 150px;
}
.servicesCardImg {
    filter: brightness(0.7);
}
.pageColor {
}
.homeRow {
    margin-bottom: 0!important;
}
.MainLogo {
    padding: 15px !important;
}
.servicepage-img {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.servicepage-img h3 {
    color: white;
    margin: 0px;
    padding-top: 120px;
}
.servicePage_section {
    background-color: white!important;
}
.input-field input[type=text]:focus + label, #textarea1:focus + label  {
    color: #005b98!important;
}
.input-field input[type=text]:focus, #textarea1:focus {
    border-bottom: 1px solid #005b98 !important;
    box-shadow: 0 1px 0 0 #005b98 !important;
}
.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}
.contact-form, .contact-info{
    min-height: 100vh!important;
}
.contact-info{
    background-size: cover;
    background-position: center;
}
.contact-form form {
    margin: 20% 0;
}
.fa-instagram, .fa-facebook-square, .fa-envelope {
    background: #125688;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 25px!important;
    text-align: center;
    width: auto;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
